# secrets
.env

# don't upload downloaded PDFs
data_query_1/output/llm_json/
data_query_2_version1/output/llm_json/
data_query_2_version2/output/llm_json/

data_query_1/input/pdfs/
data_query_2_version1/input/pdfs/
data_query_2_version2/input/pdfs/

# exclude literature/pdf datasets
*.pdf

# python junk
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.DS_Store

# archives / big binaries (optional but safe)
*.zip
*.7z
*.rar
*.tif
*.tiff
*.mp4
*.mov
*.pt
*.pth
*.ckpt
*.h5
*.npy
*.npz
